{% extends "base.html" %}

{% block title %}Edit Profile{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center my-3">Edit Profile</h1>

<form method="POST" class="w-50 mx-auto mb-5">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="Update" class="btn {% if type == "Login" %}btn-primary{% else %}btn-success{% endif %}">
</form>
<div class="w-50 mx-auto mb-5">
    <a href={% url "change_password" %} class="btn btn-warning">Change Password</a>
</div>
{% endblock content %}