{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="container my-5">
    <img src={{ post.image.url }} alt="{{ post.title }}" class="w-100">
    <h1 class="my-3">{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p><strong>Author: {{ post.author.first_name }} {{ post.author.last_name }}</strong></p>
    <span><strong>Categories: </strong></span>
    {% for cat in post.categories.all %}
        <span class="bg-body-secondary small rtiary px-3 py-1 rounded-pill">{{cat.name}}</span>
    {% endfor %}

    <h3 class="my-5">Comments: {{ comments | length }} </h3>
    {% for comment in comments %}
        <div class="card my-3">
            <div class="card-body">
                <p class="mb-0"><strong>{{ comment.name }}</strong></p> <span>{{ comment.created_on }}</span>
                <p class="fs-5">{{ comment.body }}</p>
            </div>
        </div>
    {% endfor %}


    <h3 class="my-5">Leave a Comment: </h3>
    <div class="card w-75">
        <div class="card-body">
            <form method = "POST">
                {% csrf_token %}
                {{ comment_form | crispy }}
                <input type="submit" value="Comment" class="btn btn-success">
            </form>
        </div>
      </div>
</div>
{% endblock content %}