{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container">
    {% for m in messages %}
        <p class="text-{{m.tags}} my-3">{{ m }}</p>
    {% endfor %}
    <h3 class="my-3">Profile</h3>
    <h5 class="mb-3">Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h5>

    <a href={% url "change_password" %} class="btn btn-success me-2">Change password with old one</a>
    <a href={% url "set_password" %} class="btn btn-warning">Change password without old one</a>
</div>
{% endblock content %}